<!doctype html>
<html>
  <%- include('head', {page: 'Images'}) %>
    <body>
      <%- include('header') %>
      <h1> Uploaded Images</h1>
        <div></div>
      <%- include('javascripts') %>
    </body>
</html>
