<!doctype html>
<html>
    <%- include('../templates/head', {page: 'Login'}) %>
    <body>
    <%- include('../templates/header') %>
    <h1>LOGIN</h1>
    <form class="pure-form pure-form-stacked" action="/user/login" method="POST">
      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="a@b.com">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password">
        <input class="pure-button pure-button-primary" type="submit" value="login">
      </fieldset>
    </form>

    </body>
</html>
